<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-info-model-heading" jhiTranslate="catalogValidatorApp.infoModel.home.createOrEditLabel">Create or edit a Info Model</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!infoModel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="infoModel.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="infoModel.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="infoModel.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="infoModel.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.desc" for="field_desc">Desc</label>
                    <input type="text" class="form-control" name="desc" id="field_desc"
                        [(ngModel)]="infoModel.desc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.isDynam" for="field_isDynam">Is Dynam</label>
                    <input type="text" class="form-control" name="isDynam" id="field_isDynam"
                        [(ngModel)]="infoModel.isDynam" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.dbTableName" for="field_dbTableName">Db Table Name</label>
                    <input type="text" class="form-control" name="dbTableName" id="field_dbTableName"
                        [(ngModel)]="infoModel.dbTableName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.expirationalInterval" for="field_expirationalInterval">Expirational Interval</label>
                    <input type="text" class="form-control" name="expirationalInterval" id="field_expirationalInterval"
                        [(ngModel)]="infoModel.expirationalInterval" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="infoModel.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.subtype" for="field_subtype">Subtype</label>
                    <input type="text" class="form-control" name="subtype" id="field_subtype"
                        [(ngModel)]="infoModel.subtype" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.infoModel.catalog" for="field_catalog">Catalog</label>
                    <select class="form-control" id="field_catalog" name="catalog" [(ngModel)]="infoModel.catalog" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="catalogOption.id === infoModel.catalog?.id ? infoModel.catalog : catalogOption" *ngFor="let catalogOption of catalogs; trackBy: trackCatalogById">{{catalogOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
