<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="iND">
            <h2><span jhiTranslate="catalogValidatorApp.iND.detail.title">IND</span> {{iND.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="catalogValidatorApp.iND.name">Name</span></dt>
                <dd>
                    <span>{{iND.name}}</span>
                </dd>
                <dt><span jhiTranslate="catalogValidatorApp.iND.desc">Desc</span></dt>
                <dd>
                    <span>{{iND.desc}}</span>
                </dd>
                <dt><span jhiTranslate="catalogValidatorApp.iND.writeToLLD">Write To LLD</span></dt>
                <dd>
                    <span>{{iND.writeToLLD}}</span>
                </dd>
                <dt><span jhiTranslate="catalogValidatorApp.iND.writeTranslation">Write Translation</span></dt>
                <dd>
                    <span>{{iND.writeTranslation}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ind', iND.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
