<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-attribute-heading" jhiTranslate="catalogValidatorApp.attribute.home.createOrEditLabel">Create or edit a Attribute</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!attribute.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="attribute.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.attribute.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="attribute.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.attribute.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="attribute.value" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="catalogValidatorApp.attribute.item" for="field_item">Item</label>
                    <select class="form-control" id="field_item" name="item" [(ngModel)]="attribute.item" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="itemOption.id === attribute.item?.id ? attribute.item : itemOption" *ngFor="let itemOption of items; trackBy: trackItemById">{{itemOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
