<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taxObject">
            <h2><span jhiTranslate="catalogValidatorApp.taxObject.detail.title">Tax Object</span> {{taxObject.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="catalogValidatorApp.taxObject.taxPercent">Tax Percent</span></dt>
                <dd>
                    <span>{{taxObject.taxPercent}}</span>
                </dd>
                <dt><span jhiTranslate="catalogValidatorApp.taxObject.incInPrice">Inc In Price</span></dt>
                <dd>
                    <span>{{taxObject.incInPrice}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tax-object', taxObject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
